@model RentalListModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@await Html.PartialAsync("_Filters", Model.Filters)
<table class="table">
    <thead>
        <tr>
            <th>
                Client
            </th>
            <th>
                Car
            </th>
            <th>
                Contract number
            </th>
            <th>
                Full price
            </th>
            <th>
                Start date and time
            </th>
            <th>
                End date and time
            </th>
            <th>
                Number of days
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rentals) {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Clients" asp-route-id="@item.Client.Id">@Html.DisplayFor(modelItem => item.Client.FullName)</a>
            </td>
            <td>
                <a asp-action="Details" asp-controller="Cars" asp-route-id="@item.Car.Id">@Html.DisplayFor(modelItem => item.Car.DisplayName)</a>
</td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDays)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
